/* Originally from http://bettermotherfuckingwebsite.com */
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px 2%;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
	tab-size: 4;
}

body > * {
	width: 650px;
}

body > table {
	max-width: 975px;
}


table {
	border-collapse: collapse; /*Fix transparent space between cells, where sticky elements weren't hiding content completely.*/
}

th {
	position: sticky;
	top: 0px;
	background: white;
	text-align: left;
}

th, td {
	padding: 1ex;
	vertical-align: top;
}

body > table thead > tr {
	position: sticky;
	top: 0;
	background: white;
}


input, textarea {
	width: 33vw;
}

input[type=checkbox] {
	width: auto;
}

textarea {
	height: 11vw;
	white-space: nowrap;
	overflow: auto;
}


/* API value states */
.updated {
	background-color: palegreen;
}
.error {
	background-color: salmon;
}
.pending { /*Last, overrides the earlier statuses.*/
	background-color: khaki;
}


/* Utility */
.invisible {
	display: none;
}